# Compiled class file
*.class
.idea/
.mvn/
*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
build
src/target
target

logs
mapdb.txt
mvnw
mvnw.cmd
