# Compiled class file
*.class
.idea/
.mvn/
*.iml

# Log file
*.log


# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
build
src/target
target

logs
mapdb.txt
mvnw
mvnw.cmd
application-prod.yml
upload.sh
